name: Build Android APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install packages
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip openjdk-17-jdk
        pip install buildozer kivy
    
    - name: Check files
      run: |
        if [ ! -f main.py ]; then
          echo "print('Hello')" > main.py
        fi
        
        if [ ! -f buildozer.spec ]; then
          buildozer init
        fi
    
    - name: Build APK
      run: buildozer android debug
    
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: pdf-editor
        path: bin/*.apk
